* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  --blue: rgba(8, 4, 238, 0.466);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

@media (max-width: 508px) {
  body {
    display: grid;
    place-items: center;
  }

  main {
    background: url(images/Mobile.png) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }

  .container {
    max-width: 250px;
    margin-left: 0.55rem;
    margin: center;
    text-align: center;
    padding: 0;

    color: var(--grey);
  }

  .avatar {
    width: 10rem;
    margin: 10.8rem auto 0;
    position: relative;
    filter: drop-shadow(0 4px 4px rgba(8, 4, 238, 0.466));
  }

  .avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
    animation: spin 3s linear;
  }

  .avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    transition: transform 0.5s;
    animation-duration: 3s;
    animation-name: slidein;
  }
  .avatar > img:hover {
    transform: scale(1.11);
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  a {
    color: var(--grey);
    text-decoration: none;
    margin-top: 0.25rem;

    display: flex;
    gap: 0.75rem;

    justify-content: center;
    align-items: center;
  }

  p {
    margin-top: 2rem;
    font-size: 0.75rem;
  }

  ul {
    margin-top: 4rem;

    list-style: none;
    padding: 0%;

    display: flex;
    gap: 0.5rem;

    justify-content: center;
    filter: drop-shadow(0 4px 4px rgba(8, 4, 238, 0.466));
  }

  .content {
    position: absolute;
  }

  li {
    transition: all 0.2s;
  }

  li:hover {
    transform: translateY(-0.25em);
  }

  ul li a {
    transition: 0.3s;
  }
  ul li a:hover {
    transform: translateY(-9px);
  }
  @keyframes slidein {
    from {
      margin-top: 10%;

      width: 0%;
    }

    to {
      margin-top: 0%;

      width: 100%;
    }
  }
  @keyframes spin {
    100% {
      transform: rotate(-360deg);
    }
  }
}

@media (min-width: 509px) {
  body {
    display: grid;
    place-items: center;
    background: url(images/giphy.gif) no-repeat center/cover;
  }

  main {
    background: url(images/Desktop.png) no-repeat center/cover;
    object-fit: cover;

    width: 340px;
    height: 680px;

    top: 0.01rem;
    position: absolute;
  }

  .container {
    max-width: 250px;
    margin-left: 0.55rem;
    margin: center;
    text-align: center;
    padding: 0;

    color: var(--grey);
  }

  .avatar {
    width: 10rem;
    margin: 13rem auto 0;
    margin-left: 5.16rem;
    position: relative;
    filter: drop-shadow(0 4px 4px rgba(8, 4, 238, 0.466));
  }

  .avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
    animation: spin 3s linear;
  }

  .avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    transition: transform 0.5s;
    animation-duration: 3s;
    animation-name: slidein;
  }
  .avatar > img:hover {
    transform: scale(1.1);
  }

  .content {
    position: absolute;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  a {
    color: var(--grey);
    text-decoration: none;
    margin-top: 0.25rem;

    display: flex;
    gap: 0.75rem;

    justify-content: center;
    align-items: center;
  }

  p {
    margin-top: 2rem;
    font-size: 0.75rem;
  }

  ul {
    margin-top: 4rem;

    list-style: none;
    padding: 0%;

    display: flex;
    gap: 0.5rem;

    justify-content: center;
    filter: drop-shadow(0 4px 4px rgba(8, 4, 238, 0.466));
  }

  li {
    transition: all 0.2s;
  }

  li:hover {
    transform: translateY(-0.25em);
  }

  ul li a {
    transition: 0.3s;
  }
  ul li a:hover {
    transform: translateY(-9px);
  }

  @keyframes slidein {
    from {
      margin-top: 10%;

      width: 0%;
    }

    to {
      margin-top: 0%;

      width: 100%;
    }
  }
  @keyframes spin {
    100% {
      transform: rotate(-360deg);
    }
  }
}
